<main>
    <section id="userinfo" class="card">
        <div class="card-body">
            <h2>About Us</h2>

            <p>This website was created as a project for the Monash University Fullstack Web Development bootcamp!</p>
        </div>
    </section>
</main>