<div class="row">
    <div class="col-md-6">
        <h2>Uploader</h2>

        <div id="upload-container"
         style="position: relative; margin: 0 auto; width: 80%; height: 350px;">
    </div>
</div>

<script src="./js/uploader.js"></script>